[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]
pylint = "==2.2.2"
yapf = "==0.25.0"
units = "==0.7"

[packages]
ansible = "==2.8.4"
bcrypt = "==3.1.5"
cryptography = "==2.4.2"
mongoengine = "==0.16.3"
paramiko = "==2.4.2"
pycodestyle = "==2.4.0"
pycparser = "==2.19"
pymongo = "==3.5.1"
python-dotenv = "==0.10.1"
requests = "==2.21.0"
urllib3 = "==1.24.1"
Authlib = "==0.10"
Flask = "==1.0.2"
Flask-RESTful = "==0.3.6"
Flask-Script = "==2.0.6"
Jinja2 = "==2.10"
PyYAML = "==5.1"
Werkzeug = "==0.14.1"
jenkinsapi = "*"
deepdiff = "*"
tasktiger = "==0.9.6"
docker = "*"
python-gitlab = "*"
gitpython = "*"
flask-log-request-id = "*"
prometheus-client = "*"
prometheus-flask-exporter = "*"
sshpubkeys = "*"
apscheduler = "*"
redis = "==2.10.6"
nexmo = "*"
wechatpy = "*"
ansi2html = "*"
gevent = "*"
flask-testing = "*"

[requires]
python_version = "3.6"
